<launch>
    <!--spins up a settable broadcaster for the location of the bin-->
    <node name="bin_broadcaster" pkg="tfr_utilities" output="screen" type="point_broadcaster">
        <rosparam>
            parent_frame: odom
            point_frame: bin_footprint
            service_name: localize_bin
            hz: 10
            #rear camera height adjustment
            height: -0.16 
        </rosparam>
    </node>
</launch>
