<launch>
    <!--spins up a settable broadcaster for the location of the bin-->
    <node name="localization_action_server" pkg="tfr_localization" output="screen" type="localization_action_server">
        <rosparam>
            turn_velocity: 0.9
            turn_duration: 0.75
            yaw_threshold: 0.4
        </rosparam>
    </node>
    <include file="$(find tfr_localization)/launch/bin_broadcaster.launch"/>
</launch>
