<launch>
    <!--spins up a settable broadcaster for the location of the bin-->
    <node name="shift_map_broadcaster" pkg="tfr_utilities" output="screen" type="point_broadcaster">
        <rosparam>
            parent_frame: map 
            point_frame: odom 
            service_name: set_map
            hz: 10
            height: 0.0 
        </rosparam>
    </node>
</launch>
