<launch>
    <include file="$(find tfr_launch)/launch/core.launch"/>
    <include file="$(find tfr_sensor)/launch/sensor_platform.launch"/>
    <include file="$(find tfr_sensor)/launch/rear_cam_wrapper.launch"/>
    <include file="$(find tfr_control)/launch/control.launch"/>
    <node name="test_e_stop" pkg="tfr_control" type="test_e_stop"/>
    <include file="$(find tfr_dumping)/launch/dumping.launch"/>
    <include file="$(find tfr_dumping)/launch/dumping_action_client.launch"/>
    <include file="$(find tfr_aruco)/launch/aruco.launch"/>
</launch>
