<launch>
    <node name="test_cmd" pkg="tfr_control" type="test_cmd"/>
    <node name="encoder_handler" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" output="screen"/>
 
    <!-- Launch all the hardware interface nodes -->
    <include file="$(find tfr_control)/launch/control.launch"/>

    <!-- Launch all the MoveIt! nodes -->
    <include file="$(find tfr_moveit)/launch/move_group.launch"/>

    <!-- Launch rviz -->
    <include file="$(find tfr_visualization)/launch/moveit.launch"/>
</launch>
