<launch>
    <node name="clock_service" pkg="tfr_executive" type="clock_service" output="screen"/>

    <node name="autnonomous_action_server" pkg="tfr_executive" type="autonomous_action_server" output="screen">
        <rosparam>
            localization:  true
            navigation_to: true 
            hole: false 
            digging: false 
            post_localization:  false
            navigation_from: true 
            dumping: false 
        </rosparam>
    </node>
    <node name="teleop_action_server" pkg="tfr_executive" type="teleop_action_server" output="screen">
        <rosparam>
            linear_velocity: 0.45
            angular_velocity: 1.3
        </rosparam>

    </node> 
</launch>
