<launch>

	<node name="sensor_fusion" pkg="robot_localization" type="ukf_localization_node"  clear_params="true" output="screen">
		<rosparam command="load" file="$(find tfr_sensor)/params/sensor_hookup.yaml" />
		<!--  Placeholder for output topic remapping
		<remap from="odometry/filtered" to=""/>
		<remap from="accel/filtered" to=""/>
		-->
	</node> 

</launch>
