<launch>
    <node name="read_cam_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="-0.375 0 0.01 0 0 1 0 base_link rear_cam_link"/>
    <node name="rear_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            device_id: 1
            image_width: 1280
            image_height: 720
            frame_id: rear_cam_link
            camera_info_url: file:///home/nvidia/trickfire/NasaRmc2018/src/tfr_sensor/calib/ost.yaml
        </rosparam>
    </node>
</launch>
