<launch>
    <node name="left_cam_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="0.0825 0.1651 0.2667 0 0 0.707 0.707 base_link left_cam_link"/>
    <node name="rear_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            device_id: 1
            frame_id: left_cam_link
        </rosparam>
    </node>
    <node name="left_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /sensors/left_cam/image_raw
            service_name: /on_demand/left_cam/image_raw
        </rosparam>
    </node>
    <node name="right_cam_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="0.069 -0.17 0 0 0 -0.707 0.707 base_link right_cam_link"/>
    <node name="rear_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            device_id: 1
            frame_id: right_cam_link
        </rosparam>
    </node>
    <node name="right_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /sensors/right_cam/image_raw
            service_name: /on_demand/right_cam/image_raw
        </rosparam>
    </node>
</launch>
