<!--spin up the xsens driver on the default usb port-->
<launch>

    <!--TODO replace with real transform when mounted-->
    <!--PARAMS-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="xsens_broadcaster" args="0 0 0 0 0 0   xsens_link base_link" />


    <!--DRIVER-->
    <node name="xsens_driver" pkg="xsens_driver" type="mtdevice.py" args="-m 2 -f 40"/>

    <!--DEVICE-->
    <node name="xsens_device" pkg="xsens_driver" type="mtnode.py"> 
        <param name="device" value="auto"/>
        <param name="baudrate" value="115200"/>
        <param name="frame_id" value="xsens_link"/>
        <param name="frame_local" value="ENU"/>
        <param name="frame_local_imu" value="ENU"/>
        
    </node>-->

    

</launch>
