<launch>
    <node name="light_detection_action_server" pkg="tfr_sensor" type="light_detection_action_server">
        <rosparam>
            threshold: 0.1
        </rosparam>
    </node>
    <node name="dumping_action_server" pkg="tfr_dumping" type="dumping_action_server" output="screen">
        <rosparam>
            min_lin_vel: 0.1
            max_lin_vel: 0.3
            min_ang_vel: 0.1
            max_ang_vel: 0.2
            image_service_name: /on_demand/rear_cam/image_raw
        </rosparam>
    </node>
</launch>
