<?xml version="1.0"?>
<!--NOTE must match the constants in the control code header in utilities-->
<robot name="excavator" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Shared model level constants -->
  <!-- Inches to meters conversion -->
  <xacro:property name="itom" value="0.0254" />
  <!-- Degrees to radians conversion -->
  <xacro:property name="dtor" value="${pi/180}" />
  <xacro:property name="sqrt2" value="1.41421" />

  <!-- Drivebase parameters -->
  <xacro:property name="base_length" value="${50*itom}" />

  <xacro:property name="tube_width" value="${2*itom}" />
  <xacro:property name="drivebase_beam_width" value="${11.5*itom}" />
  <xacro:property name="drivebase_front_beam_height" value="${4*itom}" />
  <xacro:property name="drivebase_total_height" value="${6*itom}" />

  <!-- Drivetrain parameters -->
  <xacro:property name="tread_end_radius" value="${(15.5/2)*itom}" />
  <xacro:property name="tread_mid_height" value="${19*itom}" />
  <xacro:property name="tread_mid_length" value="${24*itom}" />
  <xacro:property name="tread_width" value="${6*itom}" />
  <xacro:property name="tread_spacing" value="${16*itom}" />
  <xacro:property name="intertread_length" value="${39*itom}" />
  <xacro:property name="tread_slope_length" value="${11*itom}" />

  <!-- Bin parameters -->
  <!-- Length of top of bin, length of bottom is 13.86 -->
  <!-- Using the bigger size as a box instead of making complex angled shape -->
  <xacro:property name="bin_length" value="${36*itom}" />
  <xacro:property name="bin_width" value="${13.5*itom}" />
  <xacro:property name="bin_height" value="${16*itom}" />
  <xacro:property name="bin_back_height" value="${9*itom}" />
  <xacro:property name="bin_back_offset" value="${6.5*itom}" />


  <!-- Turntable parameters -->
  <xacro:property name="turntable_radius" value="${4.92*itom}" />
  <!-- 1" in model plus undefined height for mounting and extra components -->
  <!-- Rounded to 2" for now -->
  <xacro:property name="turntable_height" value="${2.25*itom}" />

  <!-- Lower arm parameters -->
  <xacro:property name="lower_arm_length" value="${22*itom}" />
  <xacro:property name="lower_arm_primary_length" value="${16*itom}" />
  <xacro:property name="lower_arm_width" value="${6*itom}" />
  <xacro:property name="lower_arm_height" value="${6*itom}" />
  <xacro:property name="lower_arm_min" value="0.104" />
  <xacro:property name="lower_arm_max" value="1.55" />   

  <!-- Upper arm parameters -->
  <xacro:property name="upper_arm_length" value="${20*itom}" />
  <xacro:property name="upper_arm_width" value="${4.75*itom}" />
  <xacro:property name="upper_arm_height" value="${5*itom}" />
  <xacro:property name="upper_arm_min" value="0.98"/>
  <xacro:property name="upper_arm_max" value="2.4"/>

  <!-- Scoop parameters -->
  <xacro:property name="scoop_width" value="${8.5*itom}" />
  <xacro:property name="scoop_length" value="${12*itom}" />
  <xacro:property name="scoop_diameter" value="${12.5*itom}" />
  <xacro:property name="scoop_min" value="-1.16614" />
  <xacro:property name="scoop_max" value="1.62" />
</robot>
